.container div{
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin:auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

select{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px;
}

h3{
    margin-bottom: 5px;
}

button
{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: cadetblue;
}

button:hover
{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(79, 140, 143);
}

button:active
{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(27, 101, 104);
}

.result{
    margin-bottom: 30px;
}